@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Doublet Concept</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body class="bg-" style="background-color:lightblue">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Doublet Concept</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                        </li>



                        <li class="dropdown crea" style="margin-left:15px; margin-top:7px">
                            <a href="#" class="dropdown-toggle text-black-50" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services/Product@*<span class="caret"></span>*@</a>
                            <ul class="dropdown-menu flex-grow-1 " style="transition:0.5s" role="menu">
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="#" asp-action="#">Fashion World</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="#" asp-action="#">Catering</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="#" asp-action="#">Event Planning</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="#" asp-action="#">Juice Artistry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="#" asp-action="#">Party</a>
                                </li>

                            </ul>
                        </li>

                        
                        
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item" style="margin-left:15px; margin-top:7px">
                                <form method="post" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item list-unstyled float-right">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }

                         
                    </ul>
                    @*<ul class=" ml-aut float-right bg-dark" >
                            @if(signInManager.IsSignedIn(User))
                             {
                                <li class="nav-item" style="margin-left:15px; margin-top:7px">
                                    <form method="post" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                            Logout @User.Identity.Name
                                        </button>
                                    </form>
                                </li>
                             }
                            else
                            {

                                <li class="nav-item list-unstyled">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            }
                        </ul>*@
                </div>
            </div>
        </nav>
    </header>

    @*<ul class=" ml-auto">
        @if (signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <form method="post" asp-action="Logout" asp-controller="Account">
                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                        Logout @User.Identity.Name
                    </button>
                </form>
            </li>
        }
        else
        {

            <li class="nav-item list-unstyled">
                <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        }
    </ul>*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - De Great Divine Doublet Concept   @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
